.hero-mui {
  width: 15px !important;
  height: 15px !important;
}
.hero-icons {
  width: 12px !important;
  height: 12px !important;
  color: #12f7d6;
  margin-right: 3px;
}
.hero-mui {
  width: 20px !important;
  height: 20px !important;
}
